In [39]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_excel("test_data.xlsx")

In [40]:
df.to_dict()

{'121_col1': {0: 'A1', 1: 'A2', 2: 'A2', 3: 'A3', 4: 'A3', 5: 'A4'},
 '121_col2': {0: 'A1', 1: 'A2', 2: 'A2', 3: nan, 4: 'A3', 5: 'A4'},
 '12m_col1': {0: 'B1', 1: 'B1', 2: 'B1', 3: 'B2', 4: 'B2', 5: 'B2'},
 '12m_col2': {0: 'B11', 1: 'B12', 2: 'B13', 3: 'B21', 4: 'B21', 5: 'B22'},
 'm2m_col1': {0: 'D1', 1: 'D2', 2: 'D3', 3: 'D1', 4: 'D2', 5: 'D3'},
 'm2m_col2': {0: 'D1', 1: 'D1', 2: 'D1', 3: 'D2', 4: 'D2', 5: 'D2'},
 '121_col1_int': {0: 1, 1: 2, 2: 2, 3: 3, 4: 3, 5: 4},
 '121_col2_int': {0: 1.0, 1: 2.0, 2: 2.0, 3: '-1', 4: 3.0, 5: 4.0}}

In [42]:
test_data = {'121_col1': {0: 'A1', 1: 'A2', 2: 'A2', 3: 'A3', 4: 'A3', 5: 'A4'},
 '121_col2': {0: 'A1', 1: 'A2', 2: 'A2', 3: np.nan, 4: 'A3', 5: 'A4'},
 '12m_col1': {0: 'B1', 1: 'B1', 2: 'B1', 3: 'B2', 4: 'B2', 5: 'B2'},
 '12m_col2': {0: 'B11', 1: 'B12', 2: 'B13', 3: 'B21', 4: 'B21', 5: 'B22'},
 'm2m_col1': {0: 'D1', 1: 'D2', 2: 'D3', 3: 'D1', 4: 'D2', 5: 'D3'},
 'm2m_col2': {0: 'D1', 1: 'D1', 2: 'D1', 3: 'D2', 4: 'D2', 5: 'D2'},
 '121_col1_int': {0: 1, 1: 2, 2: 2, 3: 3, 4: 3, 5: 4},
 '121_col2_int': {0: 1.0, 1: 2.0, 2: 2.0, 3: '-1', 4: 3.0, 5: 4.0}}

In [44]:
pd.DataFrame(test_data)

,121_col1,121_col2,12m_col1,12m_col2,m2m_col1,m2m_col2,121_col1_int,121_col2_int
0,A1,A1,B1,B11,D1,D1,1,1
1,A2,A2,B1,B12,D2,D1,2,2
2,A2,A2,B1,B13,D3,D1,2,2
3,A3,NaN,B2,B21,D1,D2,3,-1
4,A3,A3,B2,B21,D2,D2,3,3
5,A4,A4,B2,B22,D3,D2,4,4

In [31]:
col1 = "121_col1"
col2 = "121_col2"
print("gb col1", df[[col1, col2]].groupby(col1).nunique().max())
print("gb col2", df[[col1, col2]].groupby(col2).nunique().max())
print(get_relation(df, col1, col2), ' reversed ', get_relation(df, col2, col1))
print(get_relation(df, col1, col2, ignore_na=False), ' reversed ', get_relation(df, col2, col1, ignore_na=False))

gb col1 121_col2    1
dtype: int64
gb col2 121_col1    1
dtype: int64
one-to-one  reversed  one-to-one
one-to-many  reversed  many-to-one

In [36]:
col1 = "121_col1_int"
col2 = "121_col2_int"
print("gb col1", df[[col1, col2]].groupby(col1).nunique().max())
print("gb col2", df[[col1, col2]].groupby(col2).nunique().max())
print(get_relation(df, col1, col2), ' reversed ', get_relation(df, col2, col1))
print("use na", get_relation(df, col1, col2, ignore_na=False), ' reversed ', get_relation(df, col2, col1, ignore_na=False))

gb col1 121_col2_int    2
dtype: int64
gb col2 121_col1_int    1
dtype: int64
one-to-many  reversed  many-to-one
use na one-to-many  reversed  many-to-one

In [28]:
col1 = "12m_col1"
col2 = "12m_col2"
print("gb col1", df[[col1, col2]].groupby(col1).nunique().max())
print("gb col2", df[[col1, col2]].groupby(col2).nunique().max())
print(get_relation(df, col1, col2), ' reversed ', get_relation(df, col2, col1))

gb col1 12m_col2    3
dtype: int64
gb col2 12m_col1    1
dtype: int64
one-to-many  reversed  many-to-one

In [30]:
col1 = "m2m_col1"
col2 = "m2m_col2"
print("gb col1", df[[col1, col2]].groupby(col1).nunique().max())
print("gb col2", df[[col1, col2]].groupby(col2).nunique().max())
print(get_relation(df, col1, col2), ' reversed ', get_relation(df, col2, col1))

gb col1 m2m_col2    2
dtype: int64
gb col2 m2m_col1    3
dtype: int64
many-to-many  reversed  many-to-many

In [22]:
def get_relation(df, col1, col2, ignore_na=True, na_replace_value="-1"):
    """Returns the type of relationship between the two columns. one-to-one, one-to-many, many-to-one or many-to-many
    option for ignoring missing values. If na is not ignored, then nan's are replaced with the na_replace_value before the
    relationship is determined
    
    Returns a string of the type of relationship from the list of 4 options"""
    
    if ignore_na == False:
        df[[col1, col2]] = df[[col1, col2]].fillna(na_replace_value)
        
    max_values_from_col1 = df[[col1, col2]].groupby(col1).nunique().max().values
    max_values_from_col2 = df[[col1, col2]].groupby(col2).nunique().max().values
    
    if max_values_from_col2 == 1: #then it is 1-to-something
        if max_values_from_col1 == 1:
            return "one-to-one"
        else:
            return "one-to-many"
    else: #then it is many-to-something
        if max_values_from_col1 == 1:
            return "many-to-one"
        else:
            return "many-to-many"